<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Laptop sale!!</title>
</head>
<body >
<nav th:fragment="${menubar}">
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">

                <ul class="nav">
                    <li th:if="!${#authorization.getAuthentication().getName().equals('anonymousUser')}">


                        <form method="post" th:action="@{/logout}">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
                            <a th:unless="${#authorization.getAuthentication().getName().equals('anonymousUser')}" class="nav-link" th:href="@{'/profile/' + ${#authentication.principal.id}}">Личный кабинет</a>

                        </form>

                    </li>
                    <li class="nav-item col-2">
                        <a class="nav-link active" href="/login" th:if="${#authorization.getAuthentication().getName().equals('anonymousUser')}">Логин</a>
                    </li>

                    <li class="nav-item col-2">
                        <a class="nav-link " href="/main">Каталог</a>
                    </li>
                    <li class="nav-item col-2">
                        <a class="nav-link "  href="/check" th:text="${'Корзина ' + #httpSession.getAttribute('userCart').getCount()}"></a>
                    </li>

                    <li class="nav-item col-2"th:each="role : ${#authentication.authorities }" th:if="${role.toString().equals('ADMIN')}">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Админ панель</a>
                    </li>
                    <li class="nav-item col-2"th:each="role : ${#authentication.authorities }" th:if="${role.toString().equals('USER')}">
                        <a class="nav-link" href="/employee" tabindex="-1" aria-disabled="true">Работник панель</a>
                    </li>
                    <li class="nav-item col-2"th:each="role : ${#authentication.authorities }" th:if="${role.toString().equals('EMPLOYEE')}">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Человек панель</a>
                    </li>

                </ul>

            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <div class="container"  >

                </div>
            </button>
        </nav>
    </div>


</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>