<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Profile</title>
</head>
<body>
    <nav>
        <div th:insert="~{navmenu::${menubar}}" ></div>
    </nav>
    <br>
    <ul class="nav justify-content-center bg-dark">
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/profile/' + ${#authentication.principal.id}}">Данные</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"th:href="@{'/profile/' + ${#authentication.principal.id} + '/orders'}">Заказы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/profile/' + ${#authentication.principal.id} + '/settings'}">Настройки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/profile/' + ${#authentication.principal.id} + '/favlist'}">Избранное</a>
        </li>
    </ul>

    <div th:if="${#request.getRequestURI() == '/profile/' + #authentication.principal.id}">
        <p th:text="${'Логин: ' + user.getUsername()}"></p>
        <p th:text="${'ФИО: ' + user.getName() + ' ' + user.getSurname() + ' ' + user.getOtchestvo()}"></p>
        <p th:text="${'Количество заказов: ' + user.getOrders().size()}"></p>
        <p th:text="${'Адрес доставки: ' + user.getCountry() + ', ' + user.getTown()}"></p>
    </div>

    <div th:if="${#request.getRequestURI() == '/profile/' + #authentication.principal.id + '/orders'}">
        <div class="container">
            
            <table class="table table-striped">
                <thead class="thead-dark">
                <th>Номер заказа</th>
                <th>Кто заказал</th>
                <th>Статус</th>

                </thead>
                <tr th:each="order : ${orders}">
                    <td><a th:text="${order.getId() }" th:href="@{'/order/' + ${order.getId()}}"></a>
                        <span> <br/>Состав: </span>
                        <span th:each="ol : ${order.getOrderList()}">
                            <br>
                            <span th:text="''+ ${ol.getLaptop().getProductName() + ' ' + ol.getCount()}" ><br></span>
                        </span>
                    <td th:text="${order.getUser().getUsername() }"></td>
                    <td th:text="${order.getCompleted() ? 'Завершен' : 'Обрабатывается'}"></td>

                </tr>


            </table>
        </div>
    </div>

    <div th:if="${#request.getRequestURI() == '/profile/' + #authentication.principal.id + '/settings'}">
        <h5>Изменить данные</h5>
        <form method="post" th:action="@{'/profile/' + ${ user.getId()} + '/settings'}" class="col-md-2" >
            <div class="form-group">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <h6>Личные данные</h6>
                <input type="hidden" name="id" th:value="${user.getId()}">
                <input type="hidden" name="username" th:value="${user.getUsername()}">
                <div class="form-group">
                    <placeholder>Имя: </placeholder>
                    <input type="text" name="name" placeholder="Введите новое имя" th:value="${user.getName()}" class="form-control" required>
                </div>
                <div class="form-group">
                    <placeholder>Фамилия: </placeholder>
                    <input type="text" name="surname" placeholder="Введите новую фамилию" th:value="${user.getSurname()}" class="form-control" required>
                </div>
                <div class="form-group">
                    <placeholder>Отчество: </placeholder>
                    <input type="text" name="otchestvo" placeholder="Введите новое отчество" th:value="${user.getOtchestvo()}" class="form-control" required>
                </div>
                <div class="form-group">
                    <placeholder>Email: </placeholder>
                    <input type="email" name="email" placeholder="example@mail.com" th:value="${user.getEmail()}" class="form-control" required>
                </div>
                <div class="form-group">
                    <placeholder>Password: </placeholder>
                    <input type="password" name="password" placeholder="Password"  class="form-control">
                </div>
            </div>

            <div class="form-group">
                <h6>Адрес доставки</h6>
                <div class="form-group">
                    <placeholder>Страна: </placeholder>
                    <input type="text" name="country" placeholder="Введите новое имя" th:value="${user.getCountry()}" class="form-control" required>
                </div>
                <div class="form-group">
                    <placeholder>Город: </placeholder>
                    <input type="text" name="town" placeholder="Введите новую фамилию" th:value="${user.getTown()}" class="form-control" required>
                </div>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Изменить</button>
            </div>
        </form>
    </div>
    <div th:if="${#request.getRequestURI() == '/profile/' + #authentication.principal.id + '/favlist'}">
        <h5 class="container">Избранное: </h5>
        <div class="card container" th:each="l : ${laptops}">
            <div class="card-body" >
                <h4 class="card-title"th:text="${l.getLaptop().getDiagonal() + ' '+ l.getLaptop().getFullProductName()}"></h4>
                <h5 th:text="'Цена: ' + ${l.getLaptop().getPriceToSale()} + ' рублей'"></h5>
                <h5 class="container">Размеры</h5>
                <p th:text="${'Диагональ: ' + l.getLaptop().getDiagonal()}"></p>
                <p th:text="${'Длина: ' + l.getLaptop().getLenght()}"></p>
                <p th:text="${'Ширина: ' + l.getLaptop().getWidth()}"></p>

                <h5 class="container">Процессор</h5>
                <p th:text="${'Производитель:' + l.getLaptop().getProcessor().getManufacturer().getName()}"></p>
                <p th:text="${'Модель: ' + ' ' + l.getLaptop().getProcessor().getModelName()}"></p>
                <p th:text="${'Количество ядер: ' + l.getLaptop().getProcessor().getNumberOfCores()}"></p>
                <p th:text="${'Тактовая частота: ' + l.getLaptop().getProcessor().getRate() +  ' ГГц'}"></p>

                <h5 class="container">Видеокарта:</h5>
                <p th:text="${'Производитель:' + l.getLaptop().getVideocard().getManufacturer().getName()}"></p>
                <p th:text="${'Модель: ' + l.getLaptop().getVideocard().getModelName()}"></p>
                <p th:text="${'Тип видеопамяти:' + l.getLaptop().getVideocard().getMemoryType()}"></p>
                <p th:text="${'Количество видеопамяти: ' + l.getLaptop().getVideocard().getMemorySize()}"></p>

                <h5 class="container">Количство на складе</h5>
                <p th:text="${l.getLaptop().getCountOnWarehouse() > 0 ? l.getLaptop().getCountOnWarehouse() : 'Нет в наличии'}"></p>


                <p>
                    <a th:href="@{'/product/' + ${l.getLaptop().getId()}} + '/fav'" class="btn btn-danger">Убрать</a>
                    <br>
                </p>

                <p>
                    <a th:href="@{'/product/' + ${l.getLaptop().getId()}}" class="btn btn-primary">Подробнее...</a>
                </p>
                <p>
                    <a th:if="${l.getLaptop().getCountOnWarehouse() > 0}"
                       th:href="@{'/laptop/add-to-cart/' + ${l.getLaptop().getId()}}"
                       class="btn btn-primary">В корзину</a>
                </p></div>
            <br>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>