<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <div th:insert="~{navmenu::${menubar}}" ></div>

</nav>
<div class="card" th:each="processor : ${tovari}">

        <p th:name="${id}" th:text="${processor.getId()}"></p>
        <p th:name="${manufacturer}" th:value="${processor.getManufacturer().getId()}"></p>
        <p th:name="${modelName}" th:value="${processor.getModelName()}"></p>
        <p th:name="${rate}" th:value="${processor.getRate()}"></p>
        <p th:name="${numberOfCores}" th:value="${processor.getNumberOfCores()}"></p>


</div>
</table>
</body>
</html>