<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
<nav>
    <div th:insert="~{navmenu::${menubar}}" ></div>

</nav>

<div class="container">

</div>
<form method="post" action="/order/make-order">
    <input type="text" th:value="${#authentication.principal.id}">
<table class="table table-striped container">
    <thead class="thead-dark">
    <th>Товар</th>
    <th>Количество</th>
    <th>Действия</th>
    </thead>



            <tr th:each="laptop : ${tovari}" th:name="tovarListing" th:value="${tovari}">

                    <td th:text="${laptop.key.getProductName()}">


                    <td th:text="${laptop.value}">

                    </td>
                <td>
                    <a><button class="btn btn-primary">+1</button></a>
                    <a><button class="btn btn-primary">-1</button></a>
                </td>

            </tr>

            <tr>
                <th>Cумма: </th>
                <th th:text="${summa}"></th>
            </tr>
        <button type="submit" class="btn btn-primary">Заказать</button>

</table>
</form>
</body>
</html>